version: '3'

services:
  postgres:
    container_name: dev-gobarber-db-postgres
    image: postgres:11.11-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: dev-gobarber-db-redis
    image: redis:alpine
    ports:
      - '6379:6379'

  mongo:
    container_name: dev-gobarber-db-mongo
    image: mongo
    ports:
      - '27017:27017'

  mailhog:
    container_name: dev-gobarber-service-mailhog
    image: mailhog/mailhog
    ports:
      - '8025:8025'
      - '1025:1025'
volumes:
  postgres_data:
