<strong> Olá, {{ user }}</strong>
<p>Você solicitou o cancelamento de um agendamento, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{user}}<br />
  <strong>Data/Hora: </strong>{{date}}<br />
  <br />
  <small>
    O horário está disponível para novos agendamentos
  </small>
</p>
